alembic==1.5.4
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudinary==1.24.0
dnspython==2.1.0
dominate==2.6.0
dynaconf==3.1.3
email-validator==1.1.2
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
flask-googlemaps==0.4.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.6.0
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
htmlmin==0.1.12
idna==2.10
importlib-metadata==3.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
livereload==2.6.3
lunr==0.5.8
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
nltk==3.5
psycopg2==2.8.6
Pygments==2.8.0
PyJWT==2.0.1
pymdown-extensions==8.1.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.23
tornado==6.1
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.3
visitor==0.1.3
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.1
