<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=offer.author.username) }}">
                <img src="{{ offer.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=offer.author.username) }}">
                {{ offer.author.username }}
            </a>
            offers:
            <br>
            {{ offer.body }}
            <br>
            {{ offer.timestamp }}
        </td>
    </tr>
</table>