<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('offer', id=offer.id) }}">
                <img src="{{ offer.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=offer.author.username) }}">
                {{ offer.author.username }}
            </a>
            offers:
            <p><b>{{ offer.title }}</b></p>
            {% if offer.request == True %}
                <p>Requested</p>
            {% else %}
                <p>Shared</p>
            {% endif %}
            <p>Desc: {{ offer.body }}</p>
            <p>Offer Date: {{ offer.timestamp }}</p>
            <br>
            
            {% if offer.author.username == current_user.username %}
            <p><a href="{{ url_for('update', id=offer.id) }}">Edit offer</a></p>
            <form action="{{ url_for('delete', id=offer.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Delete') }}
            </form>
            {% endif %}
        </td>
    </tr>
</table>