<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('offer', id=offer.id) }}">
                {% if offer.image_thumbnail %}
                <img src="{{ offer.image_thumbnail }}">
                {% else %}
                <img src="https://res.cloudinary.com/duqxnurie1/image/upload/c_scale,w_200/v1615004423/default-mss_x7h68r.png">
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=offer.author.username) }}">
                {{ offer.author.username }}
            </a>
            offers:
            <p><h3>{{ offer.title }}</h3></p>
            {% if offer.request == True %}
                <p>Requested</p>
            {% else %}
                <p>Shared</p>
            {% endif %}
            <p>Description: {{ offer.body }}</p>
            <p>Offer Date: {{ moment(offer.timestamp).format('LLLL') }}</p>
            <p>Remaining Servings: {{ offer.servings - offer.claims }}</p>
            <br>
            
            {% set ns = namespace(claimed=False) %}
            {% for order in offer.orders %}
                {% if order.recipient == current_user %}
                    {% set ns.claimed = True %}
                {% endif %}
            {% endfor %}

            {% if offer.author.username == current_user.username %}
            <p><a href="{{ url_for('update', id=offer.id) }}">Edit offer</a></p>
            <form action="{{ url_for('delete', id=offer.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Delete Offer') }}
            </form>
            {% elif ns.claimed %}
            <form action="{{ url_for('unclaim', id=offer.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unclaim Offer') }}
            </form> 
            {% elif (offer.servings - offer.claims) > 0 %}
            <form action="{{ url_for('claim', id=offer.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Claim Offer') }}
            </form>
            {% else %}
                <h4>All gone!</h4>
            {% endif %}
        </td>
    </tr>
</table>