{% extends "base.html" %}

{% block app_content %}
    <h5>Hi, {{ current_user.first_name }}!</h5>
    <a class="btn btn-primary" href="{{ url_for('create_offer') }}" role="button">Share Food</a>
    <a class="btn btn-outline-primary" href="{{ url_for('create_request') }}" role="button">Request Food</a>     
    <h2>Current Offers</h2>
    {% for offer in offers %}
        {% include '_offer.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer offers</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older offers</a>
    {% endif %}
{% endblock %}
