{% extends "base.html" %}

{% block app_content %}
    <h5>Hi, {{ current_user.first_name }}!</h5>
    <a class="btn btn-primary" href="{{ url_for('create_offer') }}" role="button">Share Food</a>
    <a class="btn btn-outline-primary" href="{{ url_for('create_request') }}" role="button">Request Food</a>
      <script type="text/javascript">
          var search_query = 'some_test';
           s = document.createElement('script');
           str1 = "https://maps.googleapis.com/maps/api/js?key="
           str2 = str1.concat("{{api_key}}")
           str3 = str2.concat("&callback=initMap")
           s.src = str3;
           document.getElementsByTagName('head')[0].appendChild(s);
      </script>
        <script type="text/javascript">
        var map_markers = [];
        var data = {{ data | safe}}
        var center_lat = {{ center_lat }}
        var center_lng = {{ center_lng }}
        const myLatLng = {lat: 52.3675734, lng: 4.97};


        function initMap() {
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: {lat: center_lat, lng: center_lng},
          });


          for (i = 0; i < data.length; i++) {
          var latlongpair = {lat: data[i]['lat'], lng: data[i]['long']};
          console.log(latlongpair);

          // This event listener calls addMarker() when the map is clicked.
          google.maps.event.addListener(map, "click", (event) => {
            addMarker(event.latLng, map);
          });

          const image ="static/images/mealappicon.png";
          const marker = new google.maps.Marker({
            position: latlongpair,
            map,
            title: data[i]['title'],
            icon: image,
          });
            console.log(data[i]['id']);
            urlstr = "https://meal-sharing-service.herokuapp.com/explore#";
            urlstr = urlstr.concat(data[i]['id']);
            console.log(urlstr);

          google.maps.event.addListener(marker, 'click', (function( stri ){
              return function(){
                console.log(stri);
               window.location.replace(stri);
              };
          })( urlstr ), 'false' );
          }
    }


        </script>

    <div id="map" style="width:100%; height:500px;"></div>

    <h2>Current Offers</h2>
    {% for offer in offers %}
        {% include '_offer.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer offers</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older offers</a>
    {% endif %}
{% endblock %}
