<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      var search_query = 'some_test';
       s = document.createElement('script');
       str1 = "https://maps.googleapis.com/maps/api/js?key="
       str2 = str1.concat("{{api_key}}")
       str3 = str2.concat("&callback=initMap")
       s.src = str3;
       document.getElementsByTagName('head')[0].appendChild(s);
  </script>
    <script type="text/javascript">
    var map_markers = [];
    var data = {{ data | safe}}
    var center_lat = {{ center_lat }}
    var center_lng = {{ center_lng }}
    const myLatLng = {lat: 52.3675734, lng: 4.97};


    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: {lat: center_lat, lng: center_lng},
      });
      for (i = 0; i < data.length; i++) {
      var latlongpair = {lat: data[i]['lat'], lng: data[i]['long']};
      console.log(latlongpair);

      // This event listener calls addMarker() when the map is clicked.
      google.maps.event.addListener(map, "click", (event) => {
        addMarker(event.latLng, map);
      });

      const image ="static/images/mealappicon.png";
      var marker = new google.maps.Marker({
        position: latlongpair,
        map,
        title: data[i]['title'],
        icon: image,
      });

      google.maps.event.addListener(marker, 'click', function() {
        window.open("https://meal-sharing-service.herokuapp.com/explore");
     });
      }
}


    </script>
</head>
<body>
<div class="container">
    <h1>Map of offers</h1>
    <div id="map" style="width:100%; height:500px;"></div>
</div>
</body>
</html>