{% extends "base.html" %}

{% block app_content %}

<td width="70px">
    <a href="{{ url_for('user', username=offer.author.username) }}">
        <img src="{{ offer.author.avatar(70) }}" />
    </a>
</td>
<td>
    <a href="{{ url_for('user', username=offer.author.username) }}">
        {{ offer.author.username }}
    </a>
    offers:
    <br>
    <p><b>{{ offer.title }}</b></p>
    <p>Description: 
        {{ offer.body }}
    </p>
    <ul>
    <li>Servings: {{ offer.servings }}</li>
    <li>Offer Date: {{ offer.timestamp }}</li>
    <li>Expiration: {{ offer.expiration }}</li>
    <li>Category ID: {{ offer.category_id }}</li>
    <li>Condition: {{ offer.condition }}</li>
    <li>Request for food? {{ offer.request }}</li>
    <li>Servings: {{ offer.servings }}</li>
    <li>Claimed Servings: {{ offer.claims }}</li>
    <li>Remaining Servings: {{ offer.servings - offer.claims }}</li>
    </ul>
    <br>
    
    {% if offer.author.username == current_user.username %}
            <p><a href="{{ url_for('update', id=offer.id) }}">Edit offer</a></p>
            <form action="{{ url_for('delete', id=offer.id) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Delete') }}
            </form>
    {% endif %}
</td>

{% endblock %}