{% extends "base.html" %}

{% block app_content %}

<td width="70px">
    <a href="{{ url_for('user', username=offer.author.username) }}">
        <img src="{{ offer.author.avatar(70) }}" />
    </a>
</td>
<td>
    <p>
    <a href="{{ url_for('user', username=offer.author.username) }}">
        {{ offer.author.username }}
    </a>
    offers:
</p>
</td>    
    {% if offer.image_url %}
    <br>
    <p>
        <img src="{{ offer.image_url }}">
    </p>
    {% else %}
                <img src="https://res.cloudinary.com/duqxnurie1/image/upload/c_scale,w_300/v1615004423/default-mss_x7h68r.png">
    {% endif %}
    <p><h3>{{ offer.title }}</h3></p>
    <p>Description:
        {{ offer.body }}
    </p>
    <ul>
        <li>Servings: {{ offer.servings }}</li>
        <li>Offer Date: {{ moment(offer.timestamp).format('LLLL') }}</li>
        <li>Expiration: {{ offer.expiration }}</li>
        <li>Category ID: {{ offer.category_id }}</li>
        <li>Condition: {{ offer.condition }}</li>
        <li>Request for food? {{ offer.request }}</li>
        <li>Servings: {{ offer.servings }}</li>
        <li>Claimed Servings: {{ offer.claims }}</li>
        <li>Remaining Servings: {{ offer.servings - offer.claims }}</li>
    </ul>
    <br>
    

    {% set ns = namespace(claimed=False) %}
    {% for order in offer.orders %}
    {% if order.recipient == current_user %}
    {% set ns.claimed = True %}
    {% endif %}
    {% endfor %}

    {% if offer.author.username == current_user.username %}
    <p>Pickup Instructions: {{ offer.pickup }}</p>
    <p><a href="{{ url_for('update', id=offer.id) }}">Edit offer</a></p>
    <form action="{{ url_for('delete', id=offer.id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Delete Offer') }}
    </form>
    {% elif ns.claimed %}
    <p>Pickup Instructions: {{ offer.pickup }}</p>
    <p>Address: {{ offer.author.address }}</p>
    <p>Postal Code: {{ offer.author.postal_code }}</p>
    <p>State/Province: {{ offer.author.state_province }}</p>
    <p>Country: {{ offer.author.country }}</p>
    <p><a href="{{ url_for('send_message', recipient=offer.author.username) }}">
                    Message User</a></p>
    <form action="{{ url_for('unclaim', id=offer.id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Unclaim Offer') }}
    </form>
    {% elif (offer.servings - offer.claims) > 0 %}
    <p><a href="{{ url_for('send_message', recipient=offer.author.username) }}">
        Message User</a></p>
    <form action="{{ url_for('claim', id=offer.id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Claim Offer') }}
    </form>
    {% else %}
        <h4>All gone!</h4>
    {% endif %}


{% endblock %}