{% extends "base.html" %}

{% block app_content %}
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>About: {{ user.about_me }}</p>{% endif %}
            <p>Interest: {{user.interest}}</p>
            <p>Location: {{user.state_province}}, {{user.country}}</p>

            {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            <p>Lat: {{user.lat}}</p>
            <p>Lng: {{user.lng}}</p>
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% else %}
            <p>
                <a href="{{ url_for('send_message',
                                    recipient=user.username) }}">
                    Send private message
                </a>
            </p>
            <p>
                <style type="text/css">
                    .my-custom-button {
                        background-color:red;
                        cursor:pointer;
                        color: white;
                         padding: 20px 42px;
                         text-align: center;
                         text-decoration: none;
                         display: inline-block;
                         font-size: 20px;
                    }
                </style>
                <button onclick="myFunction()" class="my-custom-button">report this user</button>
            </p>
            <p id="demo"></p>
            <script>
                function myFunction() {
                  document.getElementById("demo").innerHTML = "this user was reported";
                }
            </script>
            {% endif %}
        </td>
    </tr>
</table>
<br>
<h2>Your Orders</h2>
{% for order in orders %}
{% include '_order.html' %}
{% endfor %}
<h2>Your Offers/Requests</h2>
{% for offer in offers %}
{% include '_offer.html' %}
{% endfor %}
{% endblock %}